/*===== Common Class =====*/


/*
font-family: 'Source Sans Pro', sans-serif;
400, 600 ,700
*/

html {
	position: relative;
	min-height: 100%;
	-webkit-font-smoothing: antialiased;
}

* {
	margin:0px;
	padding:0px;
}
body {
	font-size:16px;
	color:rgba(17, 22, 55, 0.3);
	font-family: 'Noto Sans', sans-serif;
	background:#ffffff;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	padding:0px;
	line-height:1.5;
	font-weight: 400;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
li, ul, ol {
	list-style:none;
	margin:0px;
	padding:0px;
}
a, a img {
	text-decoration:none;
	border:0;
	outline:none !important;
}
a {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
a:hover,
a:focus {
	text-decoration:none;
	outline:none;
}
h1, h2, h3, h4, h5, h6 {
	font-style:normal;
	font-weight:normal;
	margin:0px;
	padding:0px;
}
.clear {}

.clear:before,
.clear:after {
	display: table;
	content: "";
}
.clear:after {
	clear:both;
}
input, textarea {
	outline:none !important;
}
#wrapper {
	width:100%;
}
input[type=text]::-moz-placeholder,
input[type=search]::-moz-placeholder,
.input-text::-moz-placeholder,
.input_text::-moz-placeholder {
	color: inherit;
	opacity: 1;
}

input[type=text]::-webkit-input-placeholder,
input[type=search]::-webkit-input-placeholder,
.input-text::-webkit-input-placeholder,
.input_text::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
}

input[type=text]::-ms-placeholder,
input[type=search]::-ms-placeholder,
.input-text::-ms-placeholder,
.input_text::-ms-placeholder {
	color: inherit;
	opacity: 1;
}

input[type=email]::-moz-placeholder {
	color: inherit;
	opacity: 1;
}

input[type=email]::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
}

input[type=email]::-ms-placeholder {
	color: inherit;
	opacity: 1;
}

textarea::-moz-placeholder {
	color: inherit;
	opacity: 1;
}

textarea::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
}

textarea::-ms-input-placeholder {
	color: inherit;
	opacity: 1;
}
input,select,textarea,button{
	-webkit-box-shadow:none;
	box-shadow:none;
	-webkit-appearance: none;
	border-radius: 0;
}


/*============ Default Css End ============*/



/*============ Bootstrap Class Overwriter CSS Code Start ============*/

@media (min-width: 768px) {
	.container {
		width:750px;
		max-width:750px;
	}
}
@media (min-width: 992px) {
	.container {
		width:970px;
		max-width:970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width:1170px;
		max-width:1170px;
	}
}
@media (min-width: 1300px) {
	.container {
		width:1200px;
		max-width:1200px;
	}
}
@media (min-width: 1500px) {
	.container {
		width:1400px;
		max-width:1400px;
	}
}

.main_wapper { overflow: hidden;}


/* navbar start */

/*=========================================*/
/* Elements css Start  */
/*=========================================*/

h1,
h2,
h3,
h4,
h5,
h6 {
	margin:0; padding:0; color:#111637;font-family: 'Noto Sans', sans-serif;font-weight: bold;
}

h1 {font-size: 62px;line-height: 1.29;}
p { margin: 0; padding: 0;}

.flxrow {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.flxfix {
	-ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}
.flxflexi {
	-ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    position: relative;
}

.btnbox a {display: -ms-flexbox;display: flex;align-items: center;font-size: 18px;color: #fff;background: #4640DE;height: 50px;padding: 0 32px;border-radius: 6px;}
.btnbox a:hover {background:#111637;}
/*=========================================*/
/* Elements css End  */
/*=========================================*/


/*=========================================*/
/* Main Header */
/*=========================================*/


#header{ width: 100%; }
.header_wapper {z-index:100;background:transparent; width:100%; padding:40px 60px; position:fixed;top: 0;left: 0; justify-content: space-between;}
.logo { padding:0;width:auto;position: relative;}
.logo a {display: block;}
.logo a img {height:40px;width:auto;}

.navigation_main { margin-top: 18px;}
.navigation_main > ul { margin: 0; padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.navigation_main ul li { display: block; margin: 0; padding: 0 19px;}
.navigation_main ul li > a { display: block; font-size: 45px; color: #fff; line-height: 1.15;font-weight: 700; position: relative;opacity: 0.63;}

.menu-title {font-size:50px;}
body.scrolldesable{overflow: hidden;}
.ham_menubtn { margin:0 0 0 auto; position: relative; z-index: 9; transform: translateY(0); }
.ham_menubtn a { display:block;}
.ham_menubtn a span { display:block; background:#001A57;
    width: 23px;
    height: 3px;
    position: relative;
    overflow: hidden;
    -webkit-transition: transform .55s cubic-bezier(.19,1,.22,1),opacity .2s cubic-bezier(.19,1,.22,1);
    transition: transform .55s cubic-bezier(.19,1,.22,1),opacity .2s cubic-bezier(.19,1,.22,1);
    will-change: transform,opacity;
}
.ham_menubtn a span + span { margin-top:6px;}
.ham_menubtn a.active span:nth-child(2) { opacity: 0;}
.ham_menubtn a.active span:first-child {
    -webkit-transform: translate3d(0,9px,0) rotate3d(0,0,1,45deg);
    transform: translate3d(0,9px,0) rotate3d(0,0,1,45deg);
}
.ham_menubtn a.active span:last-child {
    -webkit-transform: translate3d(0,-9px,0) rotate3d(0,0,1,-45deg);
    transform: translate3d(0,-9px,0) rotate3d(0,0,1,-45deg);
}

.head-right {align-items: center;}
.user-join {padding: 0 40px 0 0;}
.user-join a {color: #fff;display: -ms-flexbox;display: flex;align-items: center;}
.user-join a img {margin-right: 16px;}
/*=========================================*/
/* Main Banner Start */
/*=========================================*/
.banner_wapper{width:100%; position:relative; z-index:2;}
.home-banner {width:100%;position:relative;z-index:10; background: #cccccc;}
.home-banner .captionbox { position: absolute; left: 0; right: 0; top: 0; bottom: 0;text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center; justify-content: center;
}
.home-banner .captionbox h1 {color: #ffffff; text-align: center; margin: 0; padding: 0 0 30px;max-width: 80%;margin: 0 auto;display: block;}
.home-banner .captionbox p {color: #fff;}
.home-banner .imagebox { background-repeat: no-repeat; background-size: cover; background-position: center center; height: 100vh; position: relative;}
.home-banner .imagebox::after { content: ''; position: absolute; left: 0; top: 0; right: 0; bottom: 0; background: rgba(17, 22,55, 0.1);}
.home-banner .searchbox {width: 66.66666667%;margin:0 auto;}
.searchbox form {width: 100%;background: #fff;border-radius: 8px;padding: 10px 20px;display: -ms-flexbox;display: flex;justify-content: space-between;margin: 50px 0 0;}
.searchbox .input-row.service {width: 50%;}
.searchbox .input-row.zip {width: 35%;position: relative;padding-left: 42px;}
.searchbox .input-row.zip::before {content: '';width: 1px;position: absolute;top: 15px;left: 0;bottom: 15px;background: rgba(17, 22, 55, 1);}
.searchbox .input-row.button {width: 15%;}
.searchbox form .input-text {height:50px;border: 0;color: rgba(17, 22, 55, 0.3);font-size: 16px;text-align: left;width: 100%;padding: 0 20px 0 34px;font-family:'Noto Sans', sans-serif;}
.searchbox form .service .input-text {background: url(../images/search-icon.svg) no-repeat center left;background-size: 24px 24px;}
.searchbox .zip .input-text {background: url(../images/pin-icon.svg) no-repeat center left;background-size: 24px 24px;}
.searchbox form input[type="submit"]{font-size: 18px;color: #fff;background: #4640DE;height: 50px;padding: 0 35px;border-radius: 6px;border: 0;}
.searchbox form input[type="submit"]:hover {background: #111637;}

/*=========================================*/
/* Main Banner End */
/*=========================================*/



/*=========================================*/
/* Main Content Start */
/*=========================================*/


/****************************/
/* homepage start */

/* homepage End */
/****************************/

/*bark modal*/
.bark-modal { width:100%; height:100%; overflow-x:hidden; overflow-y:auto; background:rgba(17,22,55,0.3); opacity:0; visibility:hidden; position:fixed; top:0px; left:0px; z-index:1060; -webkit-transition:all .15s linear; transition:all .15s linear; margin:0px; padding:0px;backdrop-filter: blur(50px);}
.bark-modal.show-modal { opacity:1; visibility:visible;}
.bark-modal .bark-modal-dialog { width:auto; max-width:500px; min-height:calc(100% - 3.5rem); position:relative; display:-ms-flexbox; display:flex; -ms-flex-align:center; align-items:center; margin:1.75rem auto; pointer-events:none; -webkit-transition:transform .3s ease-out; transition:transform .3s ease-out; -webkit-transform:translate(0,-50px); transform:translate(0,-50px);}
.bark-modal.bark-modal-large .bark-modal-dialog{max-width:1000px;}
.bark-modal.show-modal .bark-modal-dialog { -webkit-transform:none; transform:none;}
.bark-modal .bark-modal-content { width:100%; position:relative; display:-ms-flexbox; display:flex; -ms-flex-direction:column; flex-direction:column; background:#FFFFFF; border:none; border-radius:10px; pointer-events:all; margin:0px; padding:0px;}
.bark-modal .bark-modal-header { width:100%; position:relative; margin:0px; padding:0px;}
.bark-modal .bark-modal-header .bark-close-button { width:40px; height:40px; display:-ms-flexbox; display:flex; -ms-flex-wrap:wrap; flex-wrap:wrap; -ms-flex-align:center; align-items:center; -ms-flex-pack:center; justify-content:center; background:#f8f8f8; border:none; border-radius:50%; box-shadow:none; outline:none; cursor:pointer; position:absolute; top:15px; right:15px; z-index:1; margin:0px; padding:0px;}
.bark-modal .bark-modal-header .bark-close-button svg { width:16px; opacity:0.5;}
.bark-modal .bark-modal-body { width:100%; position:relative; -ms-flex:1 1 auto; flex:1 1 auto; padding:0;}
.bark-modal .bark-modal-body .bm-input-text{ width:100%; height:50px; font-family:inherit; font-size:16px; color:#677882; font-weight:400; background:#f3f6f8; border:1px solid #bccad2; border-radius:10px; box-shadow:none; outline:none; margin:0px; padding:0px 15px;}
.bark-modal .bark-modal-body .bm-form-submit {text-align:right;}
.bark-modal .bark-modal-body .bm-submit-btn,
.bark-modal .bark-modal-body .continue-btn { width:auto; height:42px; display:inline-block; font-size: 18px;color: #fff;background: #4640DE;height: 50px;padding: 0 32px;border-radius: 6px;border:0;}
/*bark modal*/

/*bark search modal*/
.bark-modal .bark-modal-body .bark-modal-search-form{display: flex;width: 100%;flex-flow: row wrap;}
.bark-modal .bark-modal-body .bark-modal-search-form .service-image{display: block;width: 50%;min-height: 250px;padding-top:60%;background-position: center;background-size: cover;background-repeat: no-repeat;}
.bark-modal .bark-modal-body .bark-modal-search-form .search-form{display: block;width: 50%; padding: 50px 50px;}
.bark-modal .bark-modal-body .bark-modal-search-form .search-form form {display:-ms-flexbox; display:flex;flex-direction:column;height:100%;}
.bark-modal .bark-modal-body .bark-modal-search-form .bm-form-option {margin-top:auto;}
.bark-modal .bark-modal-body .bark-modal-search-form .search-form .steps{display: block;width: 100%;}
.bark-modal .bark-modal-body .bark-modal-search-form .search-form .steps .step{display: block;width: 100%;}
.bark-modal-search-form .search-form .steps .title {font-size:20px;color:#111637;line-height:1.5;font-weight:600;padding:0 0 30px;}
.bark-modal .bark-modal-body .bark-modal-search-form .search-form .steps .step:not(.active){display: none}
.bark-modal .bark-modal-body .bark-modal-search-form .search-form .steps .step input[type="radio"]{-webkit-box-shadow: auto;box-shadow: auto;-webkit-appearance: auto;border-radius: 0;}
.bark-modal .bark-modal-body .bark-modal-search-form .search-form .radio {padding:0 0 17px;}
.bark-modal .bark-modal-body .bark-modal-search-form .search-form .steps .step input[type="radio"] {position:absolute;left:-9999px;}
.bark-modal .bark-modal-body .bark-modal-search-form .search-form .steps .step input[type="radio"] + label {position:relative;display:block;font-size:18px;font-weight:500;color:rgba(17,22,55,0.3);padding-left:40px;line-height:24px;}
.bark-modal .bark-modal-body .bark-modal-search-form .search-form .steps .step input[type="radio"]:not(:checked) + label:before,
.bark-modal .bark-modal-body .bark-modal-search-form .search-form .steps .step input[type="radio"]:checked + label:before{content:'';width:24px;height:24px;border:1px solid rgba(17,22,55,0.3);border-radius:100px;position:absolute;top:0;left:0;}
.bark-modal .bark-modal-body .bark-modal-search-form .search-form .steps .step input[type="radio"]:not(:checked) + label:after,
.bark-modal .bark-modal-body .bark-modal-search-form .search-form .steps .step input[type="radio"]:checked + label:after{content:'';width:12px;height:12px;background:rgba(17,22,55,1);border-radius:100px;position:absolute;top:6px;left:6px;transform:scale(0);transition: all .3s ease;}
.bark-modal .bark-modal-body .bark-modal-search-form .search-form .steps .step input[type="radio"]:checked + label:after {transform:scale(1);}
.bark-modal .bark-modal-body .bark-modal-search-form .search-form:not(.last-step-active) .bm-submit-btn{display: none;}
.bark-modal .bark-modal-body .bark-modal-search-form .search-form.last-step-active .continue-btn	{display: none;}
.bark-modal .bark-modal-body .bark-modal-search-form .error{border-color: red;}
.bark-modal .bark-modal-body .bark-modal-search-form .error[type='radio']{color: red;}
.bark-modal .bark-modal-body .input-box .text-input {width: 100%;height: 40px;
border: 0;border-bottom: 1px solid rgba(17,22,55,0.3);display:block;font-size:16px;}

ul.bark-suggestions {border:0;padding:20px;}
ul.bark-suggestions .ui-menu-item {padding:6px 0;font-family:'Noto Sans', sans-serif;font-size:15px;}
/*bark search modal*/

/****************************/
/* Inner page start */

/* Inner page End */
/****************************/

/*=========================================*/
/* Main Content End */
/*=========================================*/


/*=========================================*/
/* Footer main Start */
/*=========================================*/

.footer { padding: 48px 0 55px 0; position:relative; background:#009b48; margin: 43px 0 0 0;}
/*=========================================*/
/* Footer main End */
/*=========================================*/
